# Core Environment Variables
APP_SERVER__PORT=8080
APP_SERVER__ENV=development
APP_SERVER__LOG_LEVEL=info
APP_SERVER__ENABLE_SWAGGER=true
APP_SERVER__UI_BASE_URL=http://localhost:5173

APP_MONGODB__URI=mongodb://admin:secret@localhost:27017
APP_MONGODB__DATABASE=learning_japanese

APP_REDIS__ADDR=localhost:6379
APP_REDIS__PASSWORD=
APP_REDIS__DB=0

APP_OAUTH__GOOGLE_CLIENT_ID=
APP_OAUTH__GOOGLE_CLIENT_SECRET=
APP_OAUTH__REDIRECT_URL=http://localhost:8080/auth/google/callback
APP_OAUTH__JWT_SECRET=

APP_GRPC__SEARCH_ENGINE_ADDR=localhost:50051

# Search Engine Environment Variables
APP_SEARCH__PORT=50051
APP_SEARCH__INDEX_PATH=data/index/index.bin
APP_SEARCH__STOPWORDS_PATH=data/stopwords_vi.txt
APP_SEARCH__FLUSH_INTERVAL_SEC=60
